@model IEnumerable<Cts.project.Cts.Models.ArticleInfo>
<div>
    <h2> Article Info</h2>
</div>
<div>
    @foreach (var article in Model)
    {
        <div>
            <a href="@article.ArticleUrl">
                @article.Articletitle
            </a>
        </div>
        <div>@article.ArticleBreif</div>
    }

</div>
