@model Cts.project.Cts.Models.CtsProfile
  <div>
      @Model.FisrtName <a href=@Model.DetailedPageUrl> View Profile</a>
  </div>
  <div>
      @Model.LastName
  </div>
  <div>
      @Model.EmailId
  </div>
