
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cts training</title>
</head>
<body>
    <div> 
        @Html.Sitecore().Placeholder("Cts-main");
    </div>
</body>
</html>
