<div>
    @Html.Sitecore().Field("Name");
</div>
<div>
    @Html.Sitecore().Field("Dob");
</div>
<div>
    @Html.Sitecore().Field("Emailid");
</div>
<div>
    @Html.Sitecore().Field("PhoneNumber");
</div>